body {
  display: grid;
  place-items: center;
  height: 100vh;
}

img {
  width: 200px;
  animation: pulando 0.5s ease-in alternate infinite;
}

@keyframes pulando {
  to {
    transform: translateY(30px);
  }
}
